#################### OSX Finder
.DS_Store

#################### Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout

# xcconfig files will be ignored to do not allow pushing sensible data to the repository
# If the config file does not exist, the repository will contain a not ignored sample to create automatically the file in a local way when the project runs
*.xcconfig
!MedoxDevConfigSample.xcconfig

#################### Cocoapods
Pods
contents.xcworkspacedata

#################### Cocoapods
Carthage

# fastlane specific
Medox/fastlane/report.xml

# deliver temporary files
Medox/fastlane/Preview.html

# snapshot generated screenshots
Medox/fastlane/screenshots

# scan temporary files
Medox/fastlane/test_output
